.c-daughters {
    width: 100%;
    position: relative;
  }
  
  .c-daughters__book {
    background-image: url(../../public/book_bg.webp);
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
  }
  
  .c-daughters__container {
    width: 85vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: 10vw;
  }
  
  .c-daughters__images {
    position: relative;
  }
  
  .c-daughters__teddy {
    position: absolute;
    bottom: -10%;
    left: 35%;
    z-index: 3;
    width: 40%;
    height: auto;
  }
  
  .c-daughters__father {
    border-radius: 100%;
    width: 25vw;
    height: auto;
    transform: rotate(-15deg);
    margin-top: 8rem;
    margin-left: 18vw;
  }
  
  .c-daughters__intro {
    width: 28vw;
    transform: rotate(-15deg);
    margin-left: 6vw;
  }
  
  .c-daughters__title {
    margin: 0;
    padding: 0;
  }
  
  .c-daughters__feetone {
    position: absolute;
    width: 20vw;
    height: auto;
    top: 75vh;
    right: 20%;
  }
  
  .c-daughters__feettwo {
    position: absolute;
    width: 25vw;
    height: auto;
    top: 160vh;
    right: 40%;
  }
  
  .c-daughters__feetthree {
    position: absolute;
    width: 50vw;
    height: auto;
    top: 250vh;
    right: 35%;
  }
  
  .c-daughters__feetfour {
    position: absolute;
    width: 25vw;
    height: auto;
    top: 320vh;
    right: 35%;
  }
  
  .c-daughters__feetfive {
    position: absolute;
    width: 20vw;
    height: auto;
    top: 410vh;
    right: 35%;
  }
  
  .c-daughters__daughter {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 7.5%;
    position: relative;
  }
  
  .c-daughters__daughter--right {
    margin-right: 7.5%;
    margin-left: 0;
  }
  
  .c-daughters__txt {
    width: 50vw;
  }
  
  .c-daughters__img {
    width: 42vw;
    height: auto;
    transform: rotate(10deg);
    margin-left: 5vw;
    margin-right: -5vw;
    opacity: 0.6;
  }
  
  .c-daughters__img--right {
    transform: rotate(-30deg);
    margin-left: 5vw;
    margin-right: 5vw;
  }
  
  @media only screen and (max-width: 1200px) {
    .c-daughters__container {
      width: 90vw;
      padding-bottom: 15vw;
    }
    .c-daughters__father {
      margin-left: 20vw;
      margin-top: 4rem;
    }
  }
  @media only screen and (max-width: 1023px) {
    .c-daughters__book {
      height: 110vh;
    }
    .c-daughters__container {
      width: 85vw;
      padding: 10px 0 var(--d-30) 0;
    }
    .c-daughters__father {
      margin-top: 30vh;
      margin-left: 16vw;
    }
    .c-daughters__intro {
      width: 34vw;
      margin-left: 5vw;
      margin-top: 5vh;
    }
  }
  @media only screen and (max-width: 935px) {
    .c-daughters__teddy {
      left: 45%;
      bottom: 5%;
    }
  }
  @media only screen and (max-width: 767px) {
    .c-daughters__book {
      height: 100vh;
    }
    .c-daughters__father {
      margin-top: 35vh;
    }
    .c-daughters__intro {
      width: 33vw;
      margin-top: 10vh;
      margin-left: 8vw;
    }
    .c-daughters__txt {
      width: 100%;
      z-index: 0;
    }
    .c-daughters__img {
      width: 50vw;
    }
    .c-daughters__img--right {
      top: -50vw;
      left: 0;
      z-index: -1;
    }
  }
  @media only screen and (max-width: 766px) {
    .c-daughters__teddy {
      left: 45%;
      bottom: -5%;
    }
  }
  @media only screen and (max-width: 593px) {
    .c-daughters__book {
      height: fit-content;
      margin-bottom: 55vh;
    }
    .c-daughters__container {
      width: 80vw;
      flex-direction: column;
      align-items: center;
    }
    .c-daughters__teddy {
      bottom: -10%;
    }
    .c-daughters__father {
      width: 35vw;
      margin-top: 10vw;
      margin-left: 40vw;
    }
    .c-daughters__intro {
      width: 90vw;
      margin: 0;
      transform: rotate(0);
    }
    .c-daughters__daughter {
      flex-direction: column;
      width: 80%;
      margin: 0 auto 60% auto;
    }
    .c-daughters__daughter--right {
      margin: 0 auto 60% auto;
    }
    .c-daughters__img {
      position: absolute;
      right: 0;
      width: 80vw;
      top: -50vw;
      z-index: -1;
    }
    .c-daughters__img--right {
      top: -50vw;
      left: 0;
      z-index: -1;
    }
  }
  @media only screen and (max-width: 425px) {
    .c-daughters__book {
      height: 45vh;
      margin-bottom: 85vh;
    }
    .c-daughters__father {
      width: 30vw;
      margin-top: 3vh;
    }
    .c-daughters__intro {
      width: 100%;
      margin: 0;
      transform: rotate(0);
    }
  }