.c-footer {
    border-top: 2px solid var(--c-white);
    padding: var(--d-50) 0;
    margin-bottom: 0 !important;
    height: 22.5vw;
    overflow: hidden;
  }
  
  .c-footer__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .c-footer__bottom {
    opacity: 0.1;
    margin-top: 1vw;
  }
  
  .c-footer__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
  
  .c-footer__socials,
  .c-footer__bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
  
  .c-footer__social {
    margin-right: var(--d-30);
    padding: 0.625rem;
    background-color: var(--c-white);
    border-radius: 100%;
    cursor: pointer;
  }
  
  .c-footer__social:hover {
    background-color: var(--c-red);
    transition: all 0.4s ease;
  }
  
  .c-footer__link {
    margin-right: var(--d-50);
  }
  
  .c-footer__link:hover {
    color: var(--c-red);
    transition: all 0.4s ease;
  }
  
  .c-footer__txt {
    font-size: 16vw;
    margin: 0;
    padding: 0;
    font-family: "Aboreto", serif;
  }
  
  .c-footer__star {
    margin-bottom: 0;
    margin-left: 30px;
    padding: 0;
    width: 12vw;
    height: auto;
  }
  
  @media only screen and (max-width: 1399px) {
    .c-footer {
      height: 65vh;
    }
    .c-footer__top {
      flex-wrap: wrap;
    }
    .c-footer__logo {
      margin-bottom: var(--d-30);
    }
    .c-footer__links {
      margin-bottom: var(--d-30);
    }
    .c-footer__link {
      margin: 0 0 0 5vw;
    }
    .c-footer__star {
      width: 11vw;
    }
  }
  
  @media only screen and (max-width: 1023px) {
    .c-footer {
      height: 63vh;
    }
    .c-footer__txt {
      font-size: 17vw;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .c-footer {
      height: 42vh;
    }
    .c-footer__txt {
      font-size: 15vw;
    }
  }
  
  @media only screen and (max-width: 593px) {
    .c-footer {
      height: 65vh;
    }
    .c-footer__top {
      flex-direction: column;
      justify-content: center;
    }
    .c-footer__logo {
      margin: auto;
    }
    .c-footer__links {
      margin: auto;
    }
    .c-footer__social {
      margin: var(--d-20) 0.625rem 0;
    }
    .c-footer__link {
      margin: var(--d-20);
    }
    .c-footer__txt {
      font-size: 16vw;
    }
    .c-footer__star {
      margin-left: 0;
    }
  }
  
  @media only screen and (max-width: 423px) {
    .c-footer {
      height: 70vh;
    }
    .c-footer__bottom {
      margin-top: 5vw;
    }
    .c-footer__links {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .c-footer__social {
      width: var(--d-20);
      height: 100%;
      margin: var(--d-20) 10px 0;
    }
    .c-footer__link {
      margin: 0;
    }
    .c-footer__txt {
      font-size: 15vw;
    }
    .c-footer__star {
      width: 10vw;
    }
  }
  
  @media only screen and (max-width: 375px) {
    .c-footer {
      height: 65vh;
    }
  }