:root {
    --txt-sm: 1rem;
    --txt-md: 1.25rem;
    --title-sm: 1.5rem;
    --title-md: 2.5rem;
    --title-lg: 6rem;
    --d-20: 1.25rem;
    --d-30: 1.875rem;
    --d-50: 3.125rem;
    --d-90: 5.625rem;
    --d-160: 10rem;
    --c-black: #010000;
    --c-white: #fcfcfc;
    --c-red: #cb4f4f;
    --c-gradient: linear-gradient(rgba(1, 0, 0, 1) 0%, rgba(203, 79, 79, 1) 100%);
    --borders-sm: 0.625rem;
    --borders-md: 0.9375rem;
  }
  
  html {
    height: 100%;
    overflow-x: hidden;
  }
  
  body {
    font-family: "Inter", sans-serif;
    font-style: normal;
    line-height: 1.3;
    font-size: var(--txt-md);
    cursor: default;
    background-color: var(--c-black);
    color: var(--c-white);
  }
  
  nav {
    width: 90vw;
    margin: auto;
  }
  
  h1,
  h2,
  h3 {
    font-family: "Aboreto", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--c-white);
  }
  
  h1 {
    font-size: var(--title-lg);
    margin-bottom: 0;
  }
  
  h2 {
    padding-bottom: var(--d-20);
    font-size: var(--title-md);
  }
  
  h3 {
    font-size: 9.375rem;
    letter-spacing: var(--d-20);
    margin: 0;
    position: relative;
  }
  
  h4 {
    color: var(--c-red);
    font-size: var(--title-sm);
    text-transform: uppercase;
    margin-top: var(--d-20);
  }
  
  section,
  footer {
    margin-bottom: var(--d-160) !important;
    width: 85vw;
    margin: auto;
  }
  
  .line {
    width: 2rem;
    height: 2px;
    margin-bottom: 0.5rem;
    background-color: var(--c-red);
    border-radius: var(--borders-md);
  }
  
  a {
    text-decoration: none;
    color: var(--c-white);
  }
  
  img {
    border-radius: var(--borders-md);
  }
  
  @media only screen and (min-width: 1200px) {
    h1 {
      font-size: var(--title-lg);
    }
  }
  
  @media only screen and (max-width: 1200px) {
    h1 {
      font-size: var(--title-lg);
    }
    nav {
      width: 90vw;
    }
    section,
    footer {
      width: 90vw;
    }
  }
  
  @media only screen and (max-width: 1023px) {
    h1 {
      font-size: 5rem;
    }
  }
  
  @media only screen and (max-width: 954px) {
    h3 {
      font-size: 7.5rem;
      letter-spacing: var(--d-20);
    }
  }
  
  @media only screen and (max-width: 767px) {
    body {
      font-size: var(--txt-sm);
    }
    nav {
      width: 95vw;
    }
    h1 {
      font-size: var(--title-md);
    }
    h2 {
      padding-bottom: var(--d-20);
      font-size: var(--title-sm);
    }
    h3 {
      font-size: 9.375rem;
      letter-spacing: var(--d-20);
    }
    h4 {
      font-size: var(--txt-md);
      margin-top: 5px;
    }
    section,
    footer {
      width: 80vw;
      margin-bottom: var(--d-50) !important;
    }
    img {
      border-radius: var(--borders-sm);
    }
  }
  
  @media only screen and (max-width: 593px) {
    h3 {
      font-size: 6.25rem;
      letter-spacing: 0;
    }
  }
  
  @media only screen and (max-width: 374px) {
    h3 {
      font-size: 90px;
      letter-spacing: 0;
    }
  }