@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --txt-sm: 1rem;
  --txt-md: 1.25rem;
  --title-sm: 1.5rem;
  --title-md: 2.5rem;
  --title-lg: 6rem;

  --d-20: 1.25rem;
  --d-30: 1.875rem;
  --d-50: 3.125rem;
  --d-90: 5.625rem;
  --d-160: 10rem;

  --c-black: #010000;
  --c-white: #FCFCFC;
  --c-red: #C02F2F;
  --c-gradient: linear-gradient(var(--c-black), var(--c-red));

  --borders-sm: .625rem;
  --borders-md: .9375rem;

}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.15;

  background-color: var(--c-black);
  color: var(--c-white);
}

main,
nav {
  width: 85vw;
  margin: auto;


  @media only screen and (max-width: 767px) {
    width: 95vw;
  }

  @media only screen and (max-width: 1200px) {
    width: 90vw;
  }
}

h1,
h2 {
  font-family: "Aboreto", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--c-white);
}

h1{
  font-size: var(--title-lg);
  margin-bottom: 0;
  
  @media only screen and (min-width: 1200px) {
    font-size: var(--title-lg);
    position: absolute;
    top: 15%;
    left: 5%;
  }
  @media only screen and (max-width: 1199px) {
    font-size: var(--title-lg);
    position: absolute;
    top: 15%;
    left: 5%;
  }
  @media only screen and (max-width: 1023px) {
    font-size: 5rem;
    position: absolute;
    top: 15%;
    left: 5%;
  }
  @media only screen and (max-width: 767px) {
    font-size: var(--title-md);
  }
}

h2 {
  padding-bottom: var(--d-50);
}

button {
  background-color: var(--c-red);
  color: var(--c-white);
  padding: var(--txt-sm) 1.5625rem;
  border: none;
  border-radius: var(--borders-md);
  text-transform: uppercase;
}

/* components 
-------------------------*/
.c-top{
  margin-top: -1rem;
  z-index: 0;
}

.c-top::before {
  content: ''; 
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../public/Background_image_header.webp);
  background-position: top center;
  background-size: cover;
  opacity: 0.2; 
  z-index: -1; 
}

.c-nav {
  display: flex;
  justify-content: space-between;
  padding-top: var(--d-20);
}

.c-nav__img {
  width: 8rem;
  height: auto;
  margin: 0;
  padding: 0;

  @media only screen and (max-width: 767px) {
    width: 5rem;
  }
}

.c-header__underline
{
  text-decoration: underline;
}

.c-header__img {
  display: flex;
  justify-content: center; 
  align-items: flex-end; 
  background-color: rgba(192, 47, 47, 0.35);
  border-radius: 8.75rem 8.75rem 0 0;
  width: 90%;
  height: 70%; 

  @media only screen and (min-width: 1200px) {
    margin-left: 45vw;
    margin-top: 5vh;
    width: 50vw;
    border-radius: 18.75rem 18.75rem 0 0;
  }
  @media only screen and (max-width: 1199px) {
    margin-left: 35vw;
    margin-top: 15vh;
    width: 60vw;
    border-radius: 18.75rem 18.75rem 0 0;
  }

  @media only screen and (max-width: 1023px) {
    width: 50vw;
    height: 100%;
    margin-left: 40vw;
    margin-top: 20vh;
  }

  @media only screen and (max-width: 767px) {
    width: 80%;
    margin-left: 10vw;
    margin-top: 20vh;
  }
}

.c-header__img picture {
  display: block;
  margin-bottom: -.15rem;
}

.c-header__img picture img {
  width: 100%;
  height: auto;

  @media only screen and (max-width: 1199px) {
    width: 55vw;
  }
  
  @media only screen and (max-width: 1023px) {
    width: 30rem;
  }
  @media only screen and (max-width: 767px) {
    width: 20rem;
  }
}
