@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --txt-sm: 1rem;
  --txt-md: 1.25rem;
  --title-sm: 1.5rem;
  --title-md: 2.5rem;
  --title-lg: 6rem;

  --d-20: 1.25rem;
  --d-30: 1.875rem;
  --d-50: 3.125rem;
  --d-90: 5.625rem;
  --d-160: 10rem;

  --c-black: #010000;
  --c-white: #FCFCFC;
  --c-red: #C02F2F;
  --c-gradient: linear-gradient(var(--c-black), var(--c-red));

  --borders-sm: .625rem;
  --borders-md: .9375rem;

}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.15;

}

main,
nav {
  width: 85vw;
  margin: auto;


  @media only screen and (max-width: 767px) {
    width: 95vw;
  }

  @media only screen and (max-width: 1200px) {
    width: 90vw;
  }
}

h1,
h2 {
  font-family: "Aboreto", serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  padding-bottom: var(--d-50);
}

button {
  background-color: var(--c-red);
  color: var(--c-white);
  padding: var(--txt-sm) 1.5625rem;
  border: none;
  border-radius: var(--borders-md);
  text-transform: uppercase;
}

.c-nav {
  display: flex;
  justify-content: space-between;
  margin-top: var(--d-20);
}

.c-nav__img {
  width: 8rem;
  height: auto;

  @media only screen and (max-width: 767px) {
    width: 5rem;
  }
}