@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Beau+Rivage&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "./_generic.css";
@import "./_globalComponents.css";
@import "./_nav.css";
@import "./_header.css";
@import "./_intro.css";
@import "./_civil.css";
@import "./_language.css";
@import "./_quote.css";
@import "./_women.css";
@import "./_interest.css";
@import "./_daughters.css";
@import "./_family.css";
@import "./_newsletter.css";
@import "./_footer.css";

/* UTILITIES ---------------------------*/
.u-highlight {
  color: var(--c-red);
  text-decoration: underline;
}

.u-title-highlight {
  color: var(--c-red);
}

.u-active-line {
  width: 3rem !important;
  background-color: var(--c-white) !important;
}

.u-hidden {
  display: none;
}
